<!DOCTYPE html>
<html>
<head>
  <title>คำร้องนักศึกษา - Petition Management</title>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
  <!-- jQuery and Bootstrap Bundle -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  

  <!-- My CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style_home.css">
  <link rel="stylesheet" type="text/css" href="/css/style_button_confirm.css">
  <link rel="stylesheet" type="text/css" href="/css/style_appointment.css">
  <link rel="shortcut icon" href="/img/thammasat-logo-trans.png">
  <script src="/js/home.js"></script>
</head>

<body>
  <!-- Start Body -->
  <div class="container-xl header p-3 bg-white">

    <!-- Header
        Logo and Profile -->
    <div class="row">
      <div class="col-7 logo-header">
        <img src="/img/thammasat-logo-full.png" class="img-fluid float-left pb-2">
      </div>
      <div class="col-5" id="profile">
          <a href="/login" class="align-text-bottom">Login</a>
      </div>
    </div>
  
    <!-- Start Navbar -->
  
    <div class="row navbar">
      <nav class="navbar navbar-expand-sm">
        
        <button class="navbar-toggler bg-danger" data-toggle="collapse" data-target="#collapse-target">
          &#9776;
        </button>
        
        <div class="collapse navbar-collapse" id="collapse-target">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home_emp"><h5>หน้าแรก</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/petition/view_list_petition"><h5>คำร้องนักศึกษา</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><h5>สถานะคำร้อง</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><h5>นัดหมายนักศึกษา</h5></a>
              </li>
          </ul>
        </div>

      </nav>
    </div>

    <!-- Picture Slider -->
    <div class="row pt-2">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/img/bg1.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/img/update3-1.jpg" alt="Second slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  <!-- Start Content -->

  <div class="row">
    <div class="col-3 bg-danger side text-center">
      <a href="/data_student/<%= data.userName %>" class="button">ประวัตินักศึกษา</a>
      <a href="https://drive.google.com/file/d/1U1TXv4KK4UwqpgYQsBIcVUlvMlHO4pwK/view?usp=sharing" class="button">คำร้อง</a>
      <a href="https://drive.google.com/file/d/1WOeK5WmgjNd91vces65MGV9Hsmw4VLvc/view?usp=sharing" class="button">เอกสารแนบ</a>
      <button class="button">ยืนยันการอนุมัติคำร้อง</button>
    </div>
    <div class="col-9 content">
      <div class="card-body">
        <h5 class="card-title">ข้อมูลนักศึกษา - <%=data.displayname_th %></h5>
        <hr>


        <div class="form-group row">
          <label class="col-sm-3 col-form-label">สถานะ</label>
          <label class="col-sm-9 col-form-label">
            <% if(!(data.statusname).localeCompare('ปกติ')) { %>
              ยังศึกษาอยู่ / ปกติ
            <% } else { %>
              ไม่ศึกษาแล้ว
            <% } %>
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">รหัสนักศึกษา</label>
          <label class="col-sm-9 col-form-label">
            <%=data.userName %>
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">คำนำหน้าชื่อ</label>
          <label class="col-sm-9 col-form-label">
            <%=data.prefixname %>
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ชื่อภาษาไทย</label>
          <label class="col-sm-9 col-form-label">
            <%=data.displayname_th %>
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ชื่อภาษาอังกฤษ</label>
          <label class="col-sm-9 col-form-label">
            <%=data.displayname_en %>
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">อีเมลล์</label>
          <label class="col-sm-9 col-form-label">
            <%=data.email %>
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">สาขาวิชา / ภาควิชา</label>
          <label class="col-sm-9 col-form-label">
            <%=data.department %>
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">คณะ</label>
          <label class="col-sm-9 col-form-label">
            <%=data.faculty %>
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">GPA</label>
          <label class="col-sm-9 col-form-label">
            Unknown
          </label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Warning Status</label>
          <label class="col-sm-9 col-form-label">
            Unknown
          </label>
        </div>

      </div>
      <hr>

      <div class="card-body">
        <h5 class="card-title">ข้อมูลคำร้อง - <%=data.displayname_th %></h5>
        <hr>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">เรื่อง</label>
          <label class="col-sm-9 col-form-label">Unknown</label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ประสงค์จะยื่นคำร้องเรื่อง</label>
          <label class="col-sm-9 col-form-label">จดทะเบียนล่าช้า/เพิ่มล่าช้า</label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">เหตุผลที่ยื่นคำร้อง</label>
          <label class="col-sm-9 col-form-label">เหตุผลจะขึ้นช่องนี้</label>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">ใบคำร้องฉบับเต็ม</label>
          <button class="button" href="https://drive.google.com/file/d/1U1TXv4KK4UwqpgYQsBIcVUlvMlHO4pwK/view?usp=sharing">กด</button>
        </div>
      </div>


        <div class="container-xl text-center">
          <button class="button" style="width: 100%;">กดเพื่ออนุมัติคำร้อง</button>
        </div>

      <!-- Start Form 
        <img src="/img/ประวัตินักศึกษา.jpg" height="420" width="300" class="img-fluid float-middle pt-3">
        -->
      </div>
  </div>
  

  
</div>

<!-- Footer -->
<div class="container-xl footer">
  <h6>This is a footer</h6>
</div>


<!-- Start Form -->


<!-- End Form -->
</body>
</html>
